ws_client/src/sample.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.alec.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="MyServiceImplService" targetNamespace="http://ws.alec.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.alec.com/" elementFormDefault="unqualified"
			targetNamespace="http://ws.alec.com/" version="1.0">

			<xs:element name="add" type="tns:add" />

			<xs:element name="addResponse" type="tns:addResponse" />

			<xs:element name="login" type="tns:login" />

			<xs:element name="loginResponse" type="tns:loginResponse" />

			<xs:element name="minus" type="tns:minus" />

			<xs:element name="minusResponse" type="tns:minusResponse" />

			<xs:complexType name="add">
				<xs:sequence>
					<xs:element name="a" type="xs:int" />
					<xs:element name="b" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="addResponse">
				<xs:sequence>
					<xs:element name="addResult" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="minus">
				<xs:sequence>
					<xs:element name="arg0" type="xs:int" />
					<xs:element name="arg1" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="minusResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="login">
				<xs:sequence>
					<xs:element minOccurs="0" name="username" type="xs:string" />
					<xs:element minOccurs="0" name="password" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="loginResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="loginUser" type="tns:user" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="user">
				<xs:sequence>
					<xs:element name="id" type="xs:int" />
					<xs:element minOccurs="0" name="password" type="xs:string" />
					<xs:element minOccurs="0" name="username" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="add">
		<wsdl:part element="tns:add" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="minus">
		<wsdl:part element="tns:minus" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part element="tns:loginResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="minusResponse">
		<wsdl:part element="tns:minusResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="login">
		<wsdl:part element="tns:login" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="IMyService">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" name="add">
			</wsdl:input>
			<wsdl:output message="tns:addResponse" name="addResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="minus">
			<wsdl:input message="tns:minus" name="minus">
			</wsdl:input>
			<wsdl:output message="tns:minusResponse" name="minusResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input message="tns:login" name="login">
			</wsdl:input>
			<wsdl:output message="tns:loginResponse" name="loginResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MyServiceImplServiceSoapBinding" type="tns:IMyService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="add">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="minus">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="minus">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="minusResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="login">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="loginResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MyServiceImplService">
		<wsdl:port binding="tns:MyServiceImplServiceSoapBinding"
			name="MyServiceImplPort">
			<soap:address location="http://localhost:10001/ns" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>